<!DOCTYPE html>
<html lang="ja">

<head>
  <title>ゲームプレイ申請</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.4.95/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.5.10/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
  <div id='app'>
    <v-app light>
      <!-- <v-navigation-drawer app>
      </v-navigation-drawer> -->

      <v-app-bar dense dark app>
        <v-app-bar-nav-icon></v-app-bar-nav-icon>
        <v-toolbar-title>ゲームプレイ申請</v-toolbar-title>
      </v-app-bar>

      <v-main>
        <v-container>
          <!-- 本日のゲーム時間を表示 -->
          <v-dialog v-model="today" persistent max-width="512">
            <v-card>
              <v-card-title class="text-h5">
                本日は {{calcPlayTimeByToday}} 時間分のゲームプレイ申請がされています。
              </v-card-title>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="green darken-1" text @click="today = false" :disabled="gamePlay.loading">
                  わかりました
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>

          <!-- 申請一覧の表示 -->
          <v-card>
            <v-data-table :items="approveWaitingList" :headers="gamePlay.headers" :items-per-page="10"
              :loading="gamePlay.loading" loading-text="データ読み込み中" :sort-by="['start']" :sort-desc="[true]">
              <template v-slot:top>
                <v-toolbar flat>
                  <v-toolbar-title>申請一覧</v-toolbar-title>
                  <v-divider class="mx-4" inset vertical></v-divider>

                  <v-spacer></v-spacer>
                  <v-switch v-model="gamePlay.filter" inset label="未承認のみ表示"></v-switch>

                  <v-divider class="mx-4" inset vertical></v-divider>
                  <!-- 新規申請 -->
                  <v-dialog v-model="requestForm.dialog" persistent max-width="600px">
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn color="primary" dark class="mb-2" v-bind="attrs" v-on="on">
                        新規申請
                      </v-btn>
                    </template>

                    <v-card>
                      <v-card-title>
                        <span class="text-h5">申請</span>
                      </v-card-title>
                      <v-card-text>
                        <v-container>
                          <v-row>
                            <v-col cols="12">
                              <v-menu v-model="requestForm.date.picker" :close-on-content-click="false"
                                transition="scale-transition" offset-y max-width="290px" min-width="auto">
                                <template v-slot:activator="{ on, attrs }">
                                  <v-text-field v-model="requestForm.date.value" label="日付" persistent-hint
                                    prepend-icon="mdi-calendar" readonly v-bind="attrs" v-on="on">
                                  </v-text-field>
                                </template>
                                <v-date-picker v-model="requestForm.date.value" no-title
                                  @input="requestForm.date.picker = false">
                                </v-date-picker>
                              </v-menu>
                            </v-col>

                            <v-col cols="12" sm="6">
                              <v-menu ref="menu" v-model="requestForm.startTime.picker" :close-on-content-click="false"
                                :nudge-right="40" transition="scale-transition" offset-y max-width="290px"
                                min-width="290px">
                                <template v-slot:activator="{ on, attrs }">
                                  <v-text-field v-model="requestForm.startTime.value" label="開始時間"
                                    prepend-icon="mdi-clock-time-four-outline" readonly v-bind="attrs" v-on="on">
                                  </v-text-field>
                                </template>
                                <v-time-picker v-if="requestForm.startTime.picker" v-model="requestForm.startTime.value"
                                  full-width @click:minute="$refs.menu.save(requestForm.startTime.value)"
                                  @input="requestForm.endTime.value = moment(requestForm.startTime.value, 'HH:mm').add(2, 'hours').format('HH:mm')">
                                </v-time-picker>
                              </v-menu>
                            </v-col>

                            <v-col cols="12" sm="6">
                              <v-menu ref="menu" v-model="requestForm.endTime.picker" :close-on-content-click="false"
                                :nudge-right="40" transition="scale-transition" offset-y max-width="290px"
                                min-width="290px">
                                <template v-slot:activator="{ on, attrs }">
                                  <v-text-field v-model="requestForm.endTime.value" label="終了時間"
                                    prepend-icon="mdi-clock-time-four-outline" readonly v-bind="attrs" v-on="on">
                                  </v-text-field>
                                </template>
                                <v-time-picker v-if="requestForm.endTime.picker" v-model="requestForm.endTime.value"
                                  full-width @click:minute="$refs.menu.save(requestForm.endTime.value)">
                                </v-time-picker>
                              </v-menu>
                            </v-col>

                          </v-row>
                        </v-container>
                      </v-card-text>
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn outlined @click="requestForm.dialog = false">
                          閉じる
                        </v-btn>
                        <v-btn color="primary" @click="addRequest({...requestForm})">
                          申請
                        </v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                </v-toolbar>
              </template>

              <template v-slot:item.start="{ item }">
                {{ item.start.format("YYYY-MM-DD HH:mm:ss") }}
              </template>
              <template v-slot:item.end="{ item }">
                {{ item.end.format("YYYY-MM-DD HH:mm:ss") }}
              </template>
              <template v-slot:item.status="{ item }">
                <v-chip dark :color="getStatusColor(item)">
                  {{ item.status }}
                </v-chip>
              </template>

              <template v-slot:item.actions="{ item }">
                <template v-if='item.status === "Request"'>
                  <v-icon small class="mr-2" @click="editItem(item)">
                    mdi-pencil
                  </v-icon>
                  <v-icon small class="mr-2" @click="approve(item)">
                    mdi-check
                  </v-icon>
                  <v-icon small @click="reject(item)">
                    mdi-close-octagon
                  </v-icon>
                </template>
              </template>
              <template v-slot:no-data>
                <v-btn color="primary" @click="initialize">
                  Reset
                </v-btn>
              </template>
            </v-data-table>
          </v-card>
        </v-container>
      </v-main>

      <v-snackbar v-model="success.show" timeout="3000" color="success">
        {{ success.message }}
      </v-snackbar>
      <v-snackbar v-model="failure.show" timeout="3000" color="success">
        {{ failure.message }}
      </v-snackbar>

      <v-footer app>
        <!-- -->
      </v-footer>
    </v-app>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios@0.23.0/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.5.10/dist/vuetify.js"></script>
  <script src="./js/index.js"></script>
</body>

</html>